<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" ng-bind="stock.symbol"></h3>
  </div>
  <div class="panel-body">
    <p ng-bind="summary"></p>
    <br>
    <p><strong>Price:</strong> {{ stock.price }}</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <a ng-href="#/stock/{{ stock.symbol }}/detail">More details</a>
    </li>
    <li class="list-group-item">
      <a ng-href="#/stock/{{ stock.symbol }}/history">Stock History</a>
    </li>
  </ul>
</div>